@model CreateRequestVM

@{
    ViewData["Title"] = "Create";
}

<div class="text-center">
    <h1>Create</h1>
    <h4>Request</h4>
</div>
<hr></hr>
<div class="row d-flex justify-content-center align-items-center h-100">
    <div class="col-lg-8 col-xl-6">
        <div class="card rounded-3" style="background-color:#F0F2F5">
            <div class="card-body p-4 p-md-5">
                <form asp-controller="Requests" asp-action="Create" enctype="multipart/form-data" method="post">
                    <h4>Create a new request.</h4>
                    <hr />
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="StartDate"></label>
                        <input asp-for="StartDate" class="form-control" />
                        <span asp-validation-for=" StartDate" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for=" EndDate"></label>
                        <input asp-for=" EndDate" class="form-control" />
                        <span asp-validation-for=" EndDate" class="text-danger"></span>
                    </div>                    
                    <button id="BTN" type="submit" class="btn btn-warning">Display</button>
                </form>
            </div>
        </div>
    </div>
</div>
<div id="BTL" class="text-center">
    <a class="btn btn-dark" asp-action="Index">Back to List</a>
</div>
<style>
    body {
        margin: auto;
        background-color: whitesmoke;
    }
    #BTL{
        padding:10px;
    }
    #BTN{
        margin-left:180px;
    }
</style>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
